* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
header {
  background: #020617;
}

.nav-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  color: #38bdf8;
}

nav a {
  margin-left: 20px;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}

/* HERO */
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  max-width: 700px;
}

.hero h2 span {
  color: #38bdf8;
}

.hero-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* SECTIONS */
.section {
  max-width: 1100px;
  margin: auto;
  padding: 80px 20px;
}

.section h2 {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 25px;
}

.section-text {
  text-align: center;
  max-width: 800px;
  margin: auto;
  line-height: 1.8;
}

.dark {
  background: #020617;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.skills-grid div {
  background: #0f172a;
  padding: 15px;
  text-align: center;
  border-radius: 6px;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.project-card {
  background: #020617;
  padding: 25px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card button {
  margin-top: 15px;
  padding: 10px 15px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

